<footer class="footer">
  <div class="footer__button">
    <a href="#toppage" class="footer__buttonlink"
      ><img src="./assets/images/ico-arrow.svg" class="footer__buttonimg"
    /></a>
  </div>

  <nav class="footer__menu1">
    <ul class="footer__links">
      <li><a href="http://adalab.es">articles</a></li>
      <li><a href="http://adalab.es">books</a></li>
      <li><a href="http://adalab.es">events</a></li>
      <li><a href="http://adalab.es">reasons</a></li>
      <li><a href="http://adalab.es">tips</a></li>
    </ul>
  </nav>

  <nav class="footer__menu2">
    <ul class="footer__links">
      <li><a href="http://adalab.es">twitter</a></li>
      <li><a href="http://adalab.es">instagram</a></li>
      <li><a href="http://adalab.es">mastodon.social</a></li>
    </ul>
  </nav>

  <small class="footer__small">
    <p>&copy;2021</p>
    <p>we <i class="fas fa-heart"></i> components</p>
  </small>
</footer>
