<header class="header" id="toppage">
  <!-- used id instead of #top due to deprecation -->

  <div class="hero">
    <div class="hero__nav">
      <a href="http://adalab.es" class="hero__link"
        ><img src="./assets/images/ico-menu.svg" class="hero__navimg"
      /></a>
    </div>
    <div class="wrap">
      <h1 class="hero__title">anonymous proxy</h1>
      <p class="hero__subtitle">in hac habitasse platea dictumst.</p>
      <div class="header__button">
        <a href="#" class="header__buttonlink"
          ><img
            src="./assets/images/ico-scroll-down.svg"
            class="header__buttonimg"
        /></a>
      </div>
    </div>
  </div>
</header>
