<header class="header" id="toppage">
  <!-- used id instead of #top due to deprecation -->

  <div class="hero">
    <div class="hero__nav">
      <a href="http://adalab.es" class="hero__navlink" title="Menu">
        <img src="./assets/images/ico-menu.svg" title="Menu" />
      </a>
    </div>

    <div class="hero__wrap">
      <h1 class="hero__wraptitle">anonymous proxy</h1>
      <p class="hero__wrapsubtitle">in hac habitasse platea dictumst.</p>
      <div class="hero__wrapbutton">
        <a href="#reasons" title="Go to 3 Reasons To Purchase">
          <img
            src="./assets/images/ico-scroll-down.svg"
            class="hero__wrapbuttonimg"
            title="Go to 3 Reasons To Purchase"
          />
        </a>
      </div>
    </div>
  </div>
</header>
