@keyframes moveup {
  from {
    top: -22.5px;
  }

  to {
    top: -25.5px;
  }
}

.footer {
  background-color: #304268;
  padding-top: 60px;
  padding-bottom: 45px;
  height: 465px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  position: relative;

  &__button {
    position: absolute;
    top: -22.5px;
    background-color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    animation: moveup 3s infinite;
  }

  &__buttonlink {
    background-color: red;
    width: 20.6px;
    height: 24px;
  }

  &__buttonimg {
    display: block;
    margin: auto;
    transform: translateY(50%);
  }

  &__menu1 {
    text-align: center;
  }

  &__menu2 {
    text-align: center;
  }

  &__small {
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    font-family: $font-main;
    color: white;
  }

  &__links {
    list-style: none;
    text-transform: uppercase;
    font-size: 16px;
    font-family: $font-main;
    line-height: 30px;
  }

  &__links a {
    color: white;
  }
}

.fas {
  color: #f26002;
}

@media (min-width: 768px) {
  .footer {
    padding-top: 45px;
    padding-bottom: 45px;
    height: 240px;
    padding-left: 39px;
    padding-right: 39px;
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .container1 {
    display: flex;
    flex-direction: row;
  }

  .footer__menu1 {
    text-align: left;
    width: 210px;
    padding-right: 30px;
    box-sizing: content-box;
  }

  .footer__menu2 {
    text-align: left;
    width: 210px;
    box-sizing: content-box;
  }

  .container2 {
    width: 210px;
    text-align: left;
    padding-right: 30px;
    box-sizing: content-box;
  }

  .footer__small {
    text-align: left;
  }
}

@media (min-width: 1280px) {
  .footer {
    padding-left: 370px;
    padding-right: 370px;
  }

  .footer__menu1 {
    width: 161px;
  }

  .footer__menu2 {
    width: 159px;
  }

  .container2 {
    width: 159px;
    padding-right: 31px;
  }
}
