.header {
  height: 100vh;
  font-family: $font-main;
}

.hero {
  background-image: url(../images/cover.jpg);
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__nav {
    background: #0271bc;
    width: 44px;
    height: 44px;
    position: fixed;
    top: 0px;
    left: 0px;
  }

  &__link {
    line-height: 44px;
    padding: 15px 14px;
  }

  &__navimg {
    width: 16px;
    height: 14px;
  }

  &__title {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 42px;
    line-height: 55px;
    word-spacing: 100vw;
    text-align: center;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  }

  &__subtitle {
    color: white;
    font-size: 16px;
    line-height: 21px;
    text-transform: capitalize;
  }

  &__button {
    background-color: white;
    width: 45px;
    height: 45px;
    position: absolute;
    bottom: 53px;
    left: 138px;
    right: 137px;
    border-radius: 22.5px;
  }
}
