.header {
  height: 100vh;
  font-family: $font-main;
}

.hero {
  background-image: url(../images/cover.jpg);
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;

  &__nav {
    background: #0271bc;
    width: 44px;
    height: 44px;
    position: fixed;
    top: 0px;
    left: 0px;
  }

  &__link {
    line-height: 44px;
    padding: 15px 14px;
  }

  &__navimg {
    width: 16px;
    height: 14px;
  }

  &__title {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 42px;
    line-height: 55px;
    text-align: center;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    background-color: blue;
  }

  &__subtitle {
    color: white;
    font-size: 16px;
    line-height: 21px;
    text-transform: capitalize;
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 45px;
    background-color: red;
  }
}

.header__button {
  background-color: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.header__buttonimg {
  display: block;
  margin: auto;
}
